/*user account*/
condition
{
	color:black;
}
body
{
	background:url(ha.jpg);
	background-size:cover;
}
.sign
{
	border-radius:5px;
	background:purple;
	padding:20px;
	background:rgba(0,0,0,0.5);

	width:420px;
	margin:auto;
	color:white;
	font-size:16px;
	margin-top:100px;
	
}
.sign h1
{
	text-align:center;
	margin:0;
	padding:0;
}
.sign input,select,textarea
{
	padding:12px 20px;
	border:none;
	margin:8px 0;
	display:inline-block;
	border-bottom:1px solid white;
	border-radius:4px;
	box-sizing:border-box;
	font-size:18px;
	background:white;
}
.sign input[type=submit]
{
	width:100%;
	border:none;
	cursor:pointer;
}
#n
{
	width:49%;
}
#e
{
	width:100px%;
}
#m
{
	width:200px;
}
#p
{
	width:49.5%;
}
#cp
{
	width:49%;
}
input [type="submit"]
{
	background:blue;
	color:black;
}
input [type="submit"]:hover
{
	
	cursor: pointer;
	background:blue;
	color:black;
}
 option{
	color:white;
	background:purple;
}
